html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}


/* ヘッダー */
header {
    height: 50px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}


/* 地図 */
#map {
    height: calc(100vh - 120px);
    width: 100%;
}


/* 下部メニュー */
nav {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 -2px 8px rgba(0,0,0,0.2);

    z-index: 9999;
}


/* メニュー項目 */
.nav-item {
    flex: 1;
    text-align: center;

    font-size: 12px;

    cursor: pointer;
    user-select: none;
}


.nav-item span {
    font-size: 22px;
}
#search-page {
    display: none;
    padding: 20px;
}

#search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px;
}

#search-result {
    margin-top: 20px;
}